.c-weather
	font-family Arial, Helvetica, monospace

	&-icon
		font-size 1em
		font-style normal
		font-weight bold

	&-section
		border-top 1px solid gray
		padding 1em

	&-list
		text-align left
		width 22em
		margin 0 auto

		li
			padding 0.5em 5em 0.5em 0.5em
			background #DDDDDD
			margin-bottom 1px
			position relative

		&-description
			position absolute
			right 1em
			top 1em
			font-size 0.75em

		&-header
			text-transform uppercase
			letter-spacing 0.25em
			font-weight bold
			font-size 1em
			margin-bottom 1.25em
			padding-top 1.25em