$var-icomoon-font-path = "../fonts/iconfont"

//==================================================================ICONFONT==================================================================

$var-icon-icq = "\e900"
$var-icon-hourglass-start = "\e901"
$var-icon-refresh = "\f021"
$var-icon-envelope-o = "\f003"
$var-icon-heart = "\f004"
$var-icon-star = "\f005"
$var-icon-star-o = "\f006"
$var-icon-signal = "\f012"
$var-icon-gear = "\f013"
$var-icon-home = "\f015"
$var-icon-clock-o = "\f017"
$var-icon-gears = "\f085"
$var-icon-comments = "\f086"
$var-icon-globe = "\f0ac"
$var-icon-briefcase = "\f0b1"
$var-icon-group = "\f0c0"
$var-icon-users = "\f0c0"
$var-icon-cloud = "\f0c2"
$var-icon-envelope = "\f0e0"
$var-icon-sitemap = "\f0e8"
$var-icon-bell = "\f0f3"
$var-icon-building-o = "\f0f7"
$var-icon-laptop = "\f109"
$var-icon-mobile = "\f10b"
$var-icon-rss-square = "\f143"
$var-icon-rub = "\f158"
$var-icon-vk = "\f189"
$var-icon-building = "\f1ad"
$var-icon-binoculars = "\f1e5"
$var-icon-line-chart = "\f201"
$var-icon-monitor = "\f26c"
$var-icon-handshake-o = "\f2b5"
$var-icon-search = "\f002"
$var-icon-github-alt = "\f113"
$var-icon-bitbucket = "\f171"
$var-icon-skype = "\f17e"
$var-icon-git-square = "\f1d2"
$var-icon-hourglass-empty = "\f250"
$var-icon-hourglass-half = "\f252"
$var-icon-hourglass-end = "\f253"

@font-face
  font-family 'iconfont'
  src url($var-icomoon-font-path + '/iconfont.eot?yvm3qe')
  src url($var-icomoon-font-path + '/iconfont.eot?yvm3qe#iefix') format('embedded-opentype'), url($var-icomoon-font-path + '/iconfont.ttf?yvm3qe') format('truetype'), url($var-icomoon-font-path + '/iconfont.woff?yvm3qe') format('woff'), url($var-icomoon-font-path + '/iconfont.svg?yvm3qe#iconfont') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
	font-family 'iconfont' !important
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1

	/* Better Font Rendering =========== */
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

.icon-icq
  &:before
    content $var-icon-icq
.icon-hourglass-start
  &:before
    content $var-icon-hourglass-start
.icon-refresh
  &:before
    content $var-icon-refresh
.icon-envelope-o
  &:before
    content $var-icon-envelope-o
.icon-heart
  &:before
    content $var-icon-heart
.icon-star
  &:before
    content $var-icon-star
.icon-star-o
  &:before
    content $var-icon-star-o
.icon-signal
  &:before
    content $var-icon-signal
.icon-gear
  &:before
    content $var-icon-gear
.icon-home
  &:before
    content $var-icon-home
.icon-clock-o
  &:before
    content $var-icon-clock-o
.icon-gears
  &:before
    content $var-icon-gears
.icon-comments
  &:before
    content $var-icon-comments
.icon-globe
  &:before
    content $var-icon-globe
.icon-briefcase
  &:before
    content $var-icon-briefcase
.icon-group
  &:before
    content $var-icon-group
.icon-users
  &:before
    content $var-icon-users
.icon-cloud
  &:before
    content $var-icon-cloud
.icon-envelope
  &:before
    content $var-icon-envelope
.icon-sitemap
  &:before
    content $var-icon-sitemap
.icon-bell
  &:before
    content $var-icon-bell
.icon-building-o
  &:before
    content $var-icon-building-o
.icon-laptop
  &:before
    content $var-icon-laptop
.icon-mobile
  &:before
    content $var-icon-mobile
.icon-rss-square
  &:before
    content $var-icon-rss-square
.icon-rub
  &:before
    content $var-icon-rub
.icon-vk
  &:before
    content $var-icon-vk
.icon-building
  &:before
    content $var-icon-building
.icon-binoculars
  &:before
    content $var-icon-binoculars
.icon-line-chart
  &:before
    content $var-icon-line-chart
.icon-monitor
  &:before
    content $var-icon-monitor
.icon-handshake-o
  &:before
    content $var-icon-handshake-o
.icon-search
  &:before
    content $var-icon-search
.icon-github-alt
  &:before
    content $var-icon-github-alt
.icon-bitbucket
  &:before
    content $var-icon-bitbucket
.icon-skype
  &:before
    content $var-icon-skype
.icon-git-square
  &:before
    content $var-icon-git-square
.icon-hourglass-empty
  &:before
    content $var-icon-hourglass-empty
.icon-hourglass-half
  &:before
    content $var-icon-hourglass-half
.icon-hourglass-end
  &:before
    content $var-icon-hourglass-end

