//======================================================FEATURES=======================================================
section.c-portfolio-features
	.c-btstrp-row.c-portfolio-header
		h2.c-portfolio-spacer-l1 Мои преимущества:
	.c-btstrp-row.c-portfolio-features-list.c-portfolio-text-b
		mixin list-icon(vicon,vtext)
			li
				i(class=vicon)
				p=vtext
		ul
			+list-icon(
			"icon-group",
			"помогаю коллегам")
			+list-icon(
			"icon-building-o",
			"отдельный кабинет для удалённой работы")
			+list-icon(
			"icon-clock-o",
			"нравится программировать, увлекаюсь со\u00A0школы")
			+list-icon(
			"icon-sitemap",
			"быстро усваиваю и\u00A0хорошо структурирую информацию")
			+list-icon(
			"icon-line-chart",
			"постоянно учусь и\u00A0расширяю кругозор, пишу статьи на\u00A0medium")
			+list-icon(
			"icon-handshake-o",
			"создаю и\u00A0поддерживаю соглашения по\u00A0коду, улучшаю процессы")
			+list-icon(
			"icon-comments",
			"грамотная устная и\u00A0письменная русская речь, intermediate english level")
			+list-icon(
			"icon-heart",
			"энтузиаст, приятен в\u00A0общении, серьёзный опыт экстремального спорта и\u00A0общественной работы")
			+list-icon(
			"icon-gears",
			"знаю как работают руководитель, аналитик, архитектор, дизайнер, фронтовик, тыловик и\u00A0девопс")
			//"знаю как работают клиент(front), сервер(back), инфраструктура(platform)")
			//
				+list-icon(
					"icon-smile-o",
					"энтузиаст, оптимист, приятен в общении, хорошее чувство юмора")
				+list-icon(
					"icon-black-tie",
					"корректно формулирую и обсуждаю требования к проекту")
				+list-icon(
					"icon-group",
					"работаю в команде и индивидуально, в офисе и удалённо")
				//
					* помогаю коллегам.
					* отдельный кабинет для удалённой работы.
					* нравится программировать, увлекаюсь со\u00A0школы.
					* быстро усваиваю и\u00A0хорошо структурирую информацию.
					* создаю и\u00A0поддерживаю соглашения по\u00A0коду, улучшаю процессы.
					* постоянно учусь и\u00A0расширяю кругозор, пишу статьи на\u00A0medium.
					* грамотная устная и\u00A0письменная русская речь, intermediate english level.
					* знаю как работают руководитель, аналитик, архитектор, дизайнер, фронтовик, тыловик и\u00A0девопс.
					* энтузиаст, приятен в\u00A0общении, серьёзный опыт экстремального спорта и\u00A0общественной работы.
				//
					* помогаю коллегам
					* программирую более 15 лет
					* постоянно учусь и расширяю кругозор
					* грамотная устная и письменная русская речь
					* дополнительная роль в команде - катализатор
					* устно и письменно общаюсь на английском языке
					* быстро усваиваю, структурирую и выдаю информацию
					* есть комфортный офис в шаговой доступности для удалённой работы
					* создаю и поддерживаю соглашения по коду, улучшаю процессы разработки
					* знаю как работает менеджер, аналитик, архитектор, дизайнер, тыловик и девопс
					* приятен в общении, серьёзный опыт экстремального спорта и активных увлечений
				//
					* помогаю коллегам
					* программирую более 15 лет
					* быстро усваиваю, структурирую и выдаю информацию
					* постоянно учусь и расширяю кругозор, пишу статьи на medium
					* есть комфортный офис в шаговой доступности для удалённой работы
					* создаю и поддерживаю соглашения по коду, улучшаю процессы разработки
					* грамотная устная и письменная русская речь, intermediate english level
					* знаю как работают менеджер, аналитик, архитектор, дизайнер, фронтовик, тыловик и девопс
					* энтузиаст, приятен в общении, серьёзный опыт экстремального спорта и активных увлечений	
	.c-portfolio-divider
