//======================================================KB==========================================================
section.c-portfolio-kb
	.c-btstrp-row.c-portfolio-header
		h2.c-portfolio-spacer-l1 База знаний:
	.c-btstrp-row.c-portfolio-skills.c-btstrp-link-clear.c-portfolio-button.c-portfolio-button-b
		ul
			li
				a(target='_blank', href='/kb/#/index')
					p Описание БЗ
			li
				a(target='_blank', href='/kb/#/kb/инструменты/инструменты')
					p Инструменты
			li
				a(target='_blank', href='/kb/#/kb/conventions/conventions')
					p Соглашения
			li
				a(target='_blank', href='/kbb')
					p Человек-Мужик
			li
				a(target='_blank', href='https://moikrug.ru/stepanov-valeriy14')
					p Трудовой путь(резюме)
			li
				a(target='_blank', href='https://medium.com/@stepanovv.ru')
					p Статьи на Medium
			li
				a(target='_blank', href='https://stackblitz.com/edit/rxjs-aj4vwd')
					p Живой код-справочник RxJS
	.c-portfolio-divider
