//======================================================SKILLS=========================================================
//вертикальные чёрточки для удобочитаемости, т.к. ссылки вылетают за экран
section.c-portfolio-skills
	.c-btstrp-row.c-portfolio-header
		h2.c-portfolio-spacer-l1 Навыки:
	.c-btstrp-row.c-portfolio-skills.c-btstrp-link-clear.c-portfolio-button.c-portfolio-button-b
		ul
			li
				//- a(target='_blank', href='https://app.pluralsight.com/profile/valerii-stepanov')
				//- a(target='_blank', href='/kbo/#/kb/карьера/тестирование')
				a(target='_blank', href='img/pluralsight-angular-current.jpeg')
					p Angular Web Developer lvl 2
			li
				//- a(target='_blank', href='https://yadi.sk/d/ya0zdaXZenMFX/Linux')
				//- a(target='_blank', href='https://www.certmetrics.com/comptia/public/verification.aspx?code=K6S4N9NK7CFECH4N')
				a(target='_blank', href='/kbo/#/kb/карьера/LPIC-1.jpeg')
					p Linux
			li
				//- a(target='_blank', href='https://gitlab.com/stepanovv/kbo/blob/master/src/app/timer/timer.js')
				a(target='_blank', href='/kbo/#/kb/frontend/javascript')
					p JS
			li
				a(target='_blank', href='/kbo/#/kb/frontend/typescript')
					p TS
			li
				a(target='_blank', href='https://gitlab.com/stepanovv/kbo/blob/master/src/app/portfolio/')
					p HTML5/PUG
			li
				a(target='_blank', href='https://gitlab.com/stepanovv/kbo/blob/master/src/app/portfolio/portfolio.styl')
					p CSS3/LESS/STYLUS
			//- li
				a(target='_blank', href='/kbo/#/kb/backend/sql')
					p SQL
			li
				a(target='_blank', href='/kbo/#/kb/frontend/framework/angular2')
					p Angular5+
			li
				a(target='_blank', href='/kbo/#/kb/frontend/git')
					p GIT
			li
				a(target='_blank', href='/kbo/#/kb/backend/nodejs')
					p NodeJS
			li
				a(target='_blank', href='/kbo/#/kb/frontend/framework/vue')
					p VueJS
			//- li
				a(target='_blank', href='https://bitbucket.org/bskydive/bookstore-client/src/master/grunt/Gruntfile.js')
					p Grunt
			li
				a(target='_blank', href='https://gitlab.com/stepanovv/kbo/blob/master/gulpfile.babel.js')
					p Gulp
			li
				a(target='_blank', href='/kbo/#/kb/admin/devops?id=webpack')
					p Webpack
			//- li
				a(target='_blank', href='https://bitbucket.org/bskydive/bookstore-client/src/master/webpack.config.js')
					p Webpack v4
			li
				a(target='_blank', href='/kbo/#/kb/conventions/jira')
					p JIRA
			li
				a(target='_blank', href='/kbo/#/kb/admin/redmine')
					p Redmine
			li
				a(target='_blank', href='/kbo/#/kb/conventions/trello')
					p Trello
			li
				a(target='_blank', href='/kbo/#/kb/admin/bash')
					p Bash
			//- li
				a(target='_blank', href='https://github.com/bskydive/JavaSECorePractice')
					p JavaSE
			li
				a(target='_blank', href='/kbo/#/kb/admin/docker')
					p Docker
			li
				a(target='_blank', href='/kbo/#/kb/frontend/vscode')
					p VSCode
			li
				a(target='_blank', href='/kbo/#/kb/admin/zabbix')
					p Zabbix
			li
				//- a(target='_blank', href='https://material.angular.io/')
				a(target='_blank', href='/kbo/#/kb/frontend/design?id=material-design')
					p Material
	.c-portfolio-divider
