html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		meta(name="robots", content="all")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Портфолио Степанова Валерия
		link(rel="shortcut icon", type="image/png", href="img/favicon_star.png")
		link(rel="stylesheet", type="text/css", href="css/portfolio.css")
	body.c-btstrp-clearing
		header
			include ./portoflio-nav
		main
			include ./portfolio-teaser
			.c-btstrp-container
				noscript
					.c-portfolio-header-spacer
					.c-btstrp-row.c-portfolio-header
						.alert.alert-danger(role="alert")
							strong Warning!
							|  Please, enable JavaScript to see correct
							|                             markup.
				a#id-features.c-portfolio-anchor-offset
				include ./portfolio-features
				a#id-skills.c-portfolio-anchor-offset
				include ./portfolio-skills
				a#id-examples.c-portfolio-anchor-offset
				include ./portfolio-examples.pug
				a#id-kb.c-portfolio-anchor-offset
				include ./portfolio-kb
				a#id-contacts.c-portfolio-anchor-offset
				include ./portfolio-contacts
				section.c-portfolio-footer-spacer
	script(type="text/javascript", src="js/portfolio.js")
