//======================================================KB==========================================================
section.c-portfolio-kb
	.c-btstrp-row.c-portfolio-header
		h2.c-portfolio-spacer-l1 База знаний:
	.c-btstrp-row.c-portfolio-skills.c-btstrp-link-clear.c-portfolio-button.c-portfolio-button-b
		ul
			li
				a(target='_blank', href='/kbo')
					p БЗ программиста
			//li
				a(target='_blank', href='/kbo/#/kbo/инструменты/инструменты')
					p Инструменты
			//li
				a(target='_blank', href='/kbo/#/kbo/conventions/conventions')
					p Соглашения
			li
				a(target='_blank', href='/kbb')
					p БЗ человека-мужика
			li
				a(target='_blank', href='https://moikrug.ru/stepanov-valeriy14')
					p Трудовой путь(резюме)
			li
				a(target='_blank', href='https://medium.com/@stepanovv.ru')
					p Статьи на Medium
			// li
				a(target='_blank', href='https://stackblitz.com/edit/rxjs-aj4vwd')
					p Живой код-справочник RxJS
			// li
				a(target='_blank', href='https://stackblitz.com/edit/rxjs-pqnejm-async')
					p Живой код-справочник асинхронщины JS
	.c-portfolio-divider
