//======================================================KB==========================================================
section.c-portfolio-kb
	.c-btstrp-row.c-portfolio-header
		h2.c-portfolio-spacer-l1 База знаний:
	.c-btstrp-row.c-portfolio-skills.c-btstrp-link-clear.c-portfolio-button.c-portfolio-button-b
		ul
			li
				a(target='_blank', href='https://gitlab.com/stepanovv/articles-manager/-/tree/master')
					p БЗ техменеджера
			li
				a(target='_blank', href='https://gitlab.com/stepanovv/articles-product/-/tree/master')
					p БЗ продакта
			li
				a(target='_blank', href='/kbo')
					p БЗ программиста
			//li
				a(target='_blank', href='/kbo/#/kbo/инструменты/инструменты')
					p Инструменты
			//li
				a(target='_blank', href='/kbo/#/kbo/conventions/conventions')
					p Соглашения
			li
				a(target='_blank', href='/kbb')
					p БЗ человека-мужика
			li
				a(target='_blank', href='/kbo/#/kb/карьера/инженер/резюме')
					p Резюме
			li
				a(target='_blank', href='https://stepanovv.ru/articles/index.html')
					p Мои статьи
			li
				a(target='_blank', href='https://t.me/stepanovv_ru_kb')
					p Мой блог
	.c-portfolio-divider
