//======================================================SKILLS=========================================================
//вертикальные чёрточки для удобочитаемости, т.к. ссылки вылетают за экран
section.c-portfolio-skills
	.c-btstrp-row.c-portfolio-header
		h2.c-portfolio-spacer-l1 Навыки:
	.c-btstrp-row.c-portfolio-skills.c-btstrp-link-clear.c-portfolio-button.c-portfolio-button-b
		ul
			li
				//- a(target='_blank', href='https://app.pluralsight.com/profile/valerii-stepanov')
				//- a(target='_blank', href='/kbo/#/kb/карьера/тестирование')
				a(target='_blank', href='img/pluralsight-angular-current.jpeg')
					p Angular Web Developer lvl 2
			li
				//- a(target='_blank', href='https://gitlab.com/stepanovv/kbo/blob/master/src/app/timer/timer.js')
				a(target='_blank', href='/kbo/#/kb/frontend/javascript')
					p JS
			li
				a(target='_blank', href='/kbo/#/kb/frontend/typescript')
					p TS
			li
				a(target='_blank', href='https://gitlab.com/stepanovv/kbo/blob/master/src/app/portfolio/')
					p HTML5/PUG
			li
				a(target='_blank', href='https://gitlab.com/stepanovv/kbo/blob/master/src/app/portfolio/portfolio.styl')
					p CSS3/LESS/STYLUS
			li
				a(target='_blank', href='/kbo/#/kb/backend/sql')
					p SQL
			li
				a(target='_blank', href='/kbo/#/kb/frontend/framework/angular2')
					p Angular5+
			li
				span
					p AngularJS
			li
				a(target='_blank', href='/kbo/#/kb/backend/nodejs')
					p NodeJS
			li
				a(target='_blank', href='/kbo/#/kb/frontend/framework/vue')
					p VueJS
			li
				a(target='_blank', href='https://bitbucket.org/bskydive/bookstore-client/src/master/grunt/Gruntfile.js')
					p Grunt
			li
				a(target='_blank', href='https://gitlab.com/stepanovv/kbo/blob/master/gulpfile.babel.js')
					p Gulp
			li
				a(target='_blank', href='https://bitbucket.org/bskydive/bookstore-client/src/master/webpack/v3.vue/')
					p Webpack v3
			li
				a(target='_blank', href='https://bitbucket.org/bskydive/bookstore-client/src/master/webpack.config.js')
					p Webpack v4
			//- li
				span
					p WebDriver
			li
				a(target='_blank', href='/kbo/#/kb/conventions/jira')
					p JIRA
			li
				a(target='_blank', href='/kbo/#/kb/admin/redmine')
					p Redmine
			li
				//- a(target='_blank', href='https://yadi.sk/d/ya0zdaXZenMFX/Linux')
				a(target='_blank', href='https://www.certmetrics.com/comptia/public/verification.aspx?code=K6S4N9NK7CFECH4N')
					p Linux
			li
				a(target='_blank', href='/kbo/#/kb/admin/bash')
					p Bash
			li
				a(target='_blank', href='https://github.com/bskydive/JavaSECorePractice')
					p JavaSE
			//- li
				a(target='_blank', href='/kbo/#/kb/admin/hosting?id=amazon')
					p AWS EC2
			li
				a(target='_blank', href='/kbo/#/kb/frontend/vscode')
					p VSCode
			//- li
				a(target='_blank', href='/kbo/#/kb/frontend/idea/idea')
					p WebStorm/IDEA
			//- li
				a(target='_blank', href='https://www.w3.org/TR/css-flexbox-1/')
					p FlexBox
			li
				//- a(target='_blank', href='https://material.angular.io/')
				a(target='_blank', href='/kbo/#/kb/frontend/design?id=material-design')
					p Material
	.c-portfolio-divider
