//======================================================NAV============================================================
#id-nav.c-portfolio-nav.c-portfolio-button.c-portfolio-button-b
	ul
		li
			a(href="#id-features") 
				p Преимущества
		li
			a(href="#id-skills")
				p Навыки
		li
			a(href="#id-examples")
				p Примеры
		li
			a(href="#id-kb")
				p БЗ
		li
			a(href="#id-contacts")
				p Контакты
		//
			li
				a(href="#experience") Опыт
			li
				a(href="#hobbies") Хобби
