//======================================================TEASER=========================================================
.c-portfolio-teaser-background
	#id-container-main.c-btstrp-container.c-btstrp-row
		.c-portfolio-teaser-text.c-portfolio-header
			.c-portfolio-vert-align
				.c-portfolio-teaser-img
					img(src="img/stepanovv_round_thumb.png", alt="Thumbnail")
				h1 Портфолио Степанова Валерия
					p.c-portfolio-text-b Версия:&nbsp;
						a#id-version(target='_blank' href="https://gitlab.com/stepanovv/kbo/-/merge_requests?scope=all&state=merged") version-template
							//include ../../../version.txt

