*
	box-sizing border-box
	-webkit-font-smoothing antialiased
	-webkit-overflow-scrolling touch
	-webkit-tap-highlight-color rgba(0, 0, 0, 0)
	-webkit-text-size-adjust none
	-webkit-touch-callout none

body:not(.ready)
	overflow hidden

	[data-cloak], .app-nav, > nav
		display none

div#app
	margin 40vh auto
	text-align center
	font-weight lighter
	font-size 30px

	&:empty::before
		content 'Loading...'

.emoji
	height 1.2rem
	vertical-align middle

.progress
	position fixed
	top 0px
	right 0px
	left 0px
	z-index 999999
	width 0%
	height 2px
	background-color var(--theme-color, $color-primary)
	transition width 0.2s, opacity 0.4s

.search a:hover
	color var(--theme-color, $color-primary)

.search .search-keyword
	color var(--theme-color, $color-primary)
	font-weight bold
	font-style normal

html, body
	height 100%

body
	overflow-x hidden
	margin 0
	color $color-text
	letter-spacing 0
	font-size 15px
	font-family 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif
	-moz-osx-font-smoothing grayscale
	-webkit-font-smoothing antialiased

img
	max-width 100%

a[disabled]
	opacity 0.6
	cursor not-allowed

kbd
	display inline-block
	margin-bottom 3px
	padding 3px 5px
	border solid 1px #ccc
	border-radius 3px
	vertical-align middle
	font-size 12px !important
	line-height 12px

.task-list-item
	list-style-type none

li input[type='checkbox']
	margin 0 0.2em 0.25em -1.6em
	vertical-align middle

/* navbar */
.app-nav
	position absolute
	right 0
	z-index 10
	margin 25px 60px 0 0
	text-align right

	&.no-badge
		margin-right 25px

	p
		margin 0

	> a
		margin 0 1rem
		padding 5px 0

	ul, li
		display inline-block
		margin 0
		list-style none

	a
		color inherit
		text-decoration none
		font-size 16px
		transition color 0.3s

		&:hover
			color var(--theme-color, $color-primary)

		&.active
			border-bottom 2px solid var(--theme-color, $color-primary)
			color var(--theme-color, $color-primary)

	/* navbar dropdown */
	li
		position relative
		display inline-block
		margin 0 1rem
		padding 5px 0

		ul
			position absolute
			top 100%
			right -15px
			display none
			overflow-y auto
			box-sizing border-box
			padding 10px 0
			max-height calc(100vh - 61px)
			border 1px solid #ddd
			border-bottom-color #ccc
			border-radius 4px
			background-color #fff
			text-align left
			white-space nowrap

			li
				display block
				margin 0
				margin 8px 14px
				white-space nowrap
				font-size 14px
				line-height 1rem

			a
				display block
				margin 0
				padding 0
				font-size inherit

				&.active
					border-bottom 0

		&:hover ul
			display block

/* github corner */
.github-corner
	position fixed
	top 0
	right 0
	z-index 1
	border-bottom 0
	text-decoration none

	&:hover .octo-arm
		animation octocat-wave 560ms ease-in-out

	svg
		width 80px
		height 80px
		color $color-bg
		fill var(--theme-color, $color-primary)

/* main */
main
	position relative
	z-index 0
	display block
	width 100vw
	height 100%

main.hidden
	display none

.anchor
	display inline-block
	text-decoration none
	transition all 0.3s

	span
		color $color-text

	&:hover
		text-decoration underline

/* sidebar */
.sidebar
	position absolute
	top 0
	bottom 0
	left 0
	z-index 20
	overflow-y auto
	padding 40px 0 0
	width $sidebar-width
	border-right 1px solid rgba(0, 0, 0, 0.07)
	transition transform 250ms ease-out

	> h1
		margin 0 auto 1rem
		text-align center
		font-weight 300
		font-size 1.5rem

		a
			color inherit
			text-decoration none

		.app-nav
			position static
			display block

	.sidebar-nav
		padding-bottom 40px
		line-height 1.3em

	li.collapse
		.app-sub-sidebar
			display none

	ul
		margin 0
		padding 0

	li > p
		margin 0
		font-weight 700

	ul, ul li
		list-style none

	ul li a
		display block
		border-bottom none

	ul li ul
		padding-left 20px

	&::-webkit-scrollbar
		width 4px

	&::-webkit-scrollbar-thumb
		border-radius 4px
		background transparent

	&:hover::-webkit-scrollbar-thumb
		background rgba(136, 136, 136, 0.4)

	&:hover::-webkit-scrollbar-track
		background rgba(136, 136, 136, 0.1)

/* sidebar toggle */
.sidebar-toggle
	position absolute
	bottom 0
	left 0
	z-index 30
	padding 10px
	width $sidebar-width - 16px
	outline none
	border 0
	background-color transparent
	background-color rgba($color-bg, 0.8)
	text-align center
	transition opacity 0.3s

	.sidebar-toggle-button:hover
		opacity 0.4

	span
		display block
		margin-bottom 4px
		width 16px
		height 2px
		background-color var(--theme-color, $color-primary)

body.sticky
	.sidebar, .sidebar-toggle
		position fixed

/* main content */
.content
	position absolute
	top 0
	right 0
	bottom 0
	left $sidebar-width
	padding-top 60px
	transition left 250ms ease

/* markdown content found on pages */
.markdown-section
	position relative
	margin 0 auto
	padding 30px 15px 40px 15px
	max-width 1200px
	padding-left 30px
	padding-right 30px

	> *
		box-sizing border-box
		font-size inherit

	> :first-child
		margin-top 0 !important

.markdown-section hr
	margin 2em 0
	border none
	border-bottom 1px solid #eee

.markdown-section iframe
	border 1px solid #eee

.markdown-section table
	display block
	overflow auto
	margin-bottom 1rem
	width 100%
	border-spacing 0
	border-collapse collapse

.markdown-section th
	padding 6px 13px
	border 1px solid #ddd
	font-weight bold

.markdown-section td
	padding 6px 13px
	border 1px solid #ddd

.markdown-section tr
	border-top 1px solid #ccc

	&:nth-child(2n)
		background-color #f8f8f8

.markdown-section p.tip
	position relative
	margin 2em 0
	padding 12px 24px 12px 30px
	border-left 4px solid #f66
	border-top-right-radius 2px
	border-bottom-right-radius 2px
	background-color #f8f8f8

	&:before
		position absolute
		top 14px
		left -12px
		width 20px
		height 20px
		border-radius 100%
		background-color #f66
		color $color-bg
		content '!'
		text-align center
		font-weight bold
		font-size 14px
		font-family 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif
		line-height 20px

	code
		background-color #efefef

	em
		color $color-text

.markdown-section p.warn
	padding 1rem
	border-radius 2px
	background rgba($color-primary, 0.1)

body.close
	.sidebar
		transform translateX(- $sidebar-width)

	.sidebar-toggle
		width auto

	.content
		left 0

@media print
	.github-corner, .sidebar-toggle, .sidebar, .app-nav
		display none

@media screen and (max-width: 768px)
	.github-corner, .sidebar-toggle, .sidebar
		position fixed

	.app-nav
		margin-top 16px

	.app-nav li ul
		top 30px

	main
		overflow-x hidden
		height auto

	.sidebar
		left - $sidebar-width
		transition transform 250ms ease-out

	.content
		position static
		left 0
		padding-top 20px
		max-width 100vw
		transition transform 250ms ease

	.app-nav, .github-corner
		transition transform 250ms ease-out

	.sidebar-toggle
		padding 30px 30px 10px 10px
		width auto
		background-color transparent

	body.close
		.sidebar
			transform translateX($sidebar-width)

		.sidebar-toggle
			padding 10px
			width $sidebar-width - 16px
			background-color rgba($color-bg, 0.8)
			transition 1s background-color

		.content
			transform translateX($sidebar-width)

		.app-nav, .github-corner
			display none

	.github-corner
		&:hover .octo-arm
			animation none

		.octo-arm
			animation octocat-wave 560ms ease-in-out

@keyframes octocat-wave
	0%, 100%
		transform rotate(0)

	20%, 60%
		transform rotate(-25deg)

	40%, 80%
		transform rotate(10deg)
