@import "variables"

@font-face
  font-family 'iconfont'
  src url(icomoon-font-path + '/iconfont.eot?yvm3qe')
  src url(icomoon-font-path + '/iconfont.eot?yvm3qe#iefix') format('embedded-opentype'), url(icomoon-font-path + '/iconfont.ttf?yvm3qe') format('truetype'), url(icomoon-font-path + '/iconfont.woff?yvm3qe') format('woff'), url(icomoon-font-path + '/iconfont.svg?yvm3qe#iconfont') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'iconfont' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-icq
  &:before
    content icon-icq
.icon-hourglass-start
  &:before
    content icon-hourglass-start
.icon-refresh
  &:before
    content icon-refresh
.icon-envelope-o
  &:before
    content icon-envelope-o
.icon-heart
  &:before
    content icon-heart
.icon-star
  &:before
    content icon-star
.icon-star-o
  &:before
    content icon-star-o
.icon-signal
  &:before
    content icon-signal
.icon-gear
  &:before
    content icon-gear
.icon-home
  &:before
    content icon-home
.icon-clock-o
  &:before
    content icon-clock-o
.icon-gears
  &:before
    content icon-gears
.icon-comments
  &:before
    content icon-comments
.icon-globe
  &:before
    content icon-globe
.icon-briefcase
  &:before
    content icon-briefcase
.icon-group
  &:before
    content icon-group
.icon-users
  &:before
    content icon-users
.icon-cloud
  &:before
    content icon-cloud
.icon-envelope
  &:before
    content icon-envelope
.icon-sitemap
  &:before
    content icon-sitemap
.icon-bell
  &:before
    content icon-bell
.icon-building-o
  &:before
    content icon-building-o
.icon-laptop
  &:before
    content icon-laptop
.icon-mobile
  &:before
    content icon-mobile
.icon-rss-square
  &:before
    content icon-rss-square
.icon-rub
  &:before
    content icon-rub
.icon-vk
  &:before
    content icon-vk
.icon-building
  &:before
    content icon-building
.icon-binoculars
  &:before
    content icon-binoculars
.icon-line-chart
  &:before
    content icon-line-chart
.icon-monitor
  &:before
    content icon-monitor
.icon-handshake-o
  &:before
    content icon-handshake-o
.icon-search
  &:before
    content icon-search
.icon-github-alt
  &:before
    content icon-github-alt
.icon-bitbucket
  &:before
    content icon-bitbucket
.icon-skype
  &:before
    content icon-skype
.icon-git-square
  &:before
    content icon-git-square
.icon-hourglass-empty
  &:before
    content icon-hourglass-empty
.icon-hourglass-half
  &:before
    content icon-hourglass-half
.icon-hourglass-end
  &:before
    content icon-hourglass-end

