icomoon-font-path ?= "fonts"

icon-icq = "\e900"
icon-hourglass-start = "\e901"
icon-refresh = "\f021"
icon-envelope-o = "\f003"
icon-heart = "\f004"
icon-star = "\f005"
icon-star-o = "\f006"
icon-signal = "\f012"
icon-gear = "\f013"
icon-home = "\f015"
icon-clock-o = "\f017"
icon-gears = "\f085"
icon-comments = "\f086"
icon-globe = "\f0ac"
icon-briefcase = "\f0b1"
icon-group = "\f0c0"
icon-users = "\f0c0"
icon-cloud = "\f0c2"
icon-envelope = "\f0e0"
icon-sitemap = "\f0e8"
icon-bell = "\f0f3"
icon-building-o = "\f0f7"
icon-laptop = "\f109"
icon-mobile = "\f10b"
icon-rss-square = "\f143"
icon-rub = "\f158"
icon-vk = "\f189"
icon-building = "\f1ad"
icon-binoculars = "\f1e5"
icon-line-chart = "\f201"
icon-monitor = "\f26c"
icon-handshake-o = "\f2b5"
icon-search = "\f002"
icon-github-alt = "\f113"
icon-bitbucket = "\f171"
icon-skype = "\f17e"
icon-git-square = "\f1d2"
icon-hourglass-empty = "\f250"
icon-hourglass-half = "\f252"
icon-hourglass-end = "\f253"

