.c-quotes
	font-family Arial, Helvetica, monospace
	&-background-main 
		background url("../img/background-wood-backgroundlab.jpg") repeat repeat

	&-column-center 
		background url("../img/pattern-lines-ava7-1527-bright.png") repeat fixed
		padding 1em 3em 1em 2em
		text-align center

	#id_divQuoteText 
		padding-top 1em
		font-size large

	&-row-header span 
		padding-right 15px