.c-timer
	font-family Arial, Helvetica, monospace
	font-size 14px
	line-height 1.42857143
	color #333333

	&-header
		display inline-block
		line-height 30px
		width 100%
		padding-top 10px

		&>a
			float left

		&-buttons
			display inline-block
			float right

			button
				font-weight 700

			i
				vertical-align text-top

	&-time
		padding 0
		margin 0
		font-size 24px
		border-top 1px solid gray
		text-align center

		p
			margin 0
			padding-top 14px
			padding-bottom 14px

	&-header-caption
		padding 1em



	&-history
		margin-bottom 1.25em
		padding-top 1.25em
		width 25em
		margin-left auto
		margin-right auto

		p
			text-align left
			padding 0.5em

		&-line
			border-top 1px solid gray

		ul
			text-align left
			margin 0
			padding 0
			list-style none

			li
				padding 0.5em
				background #DDDDDD
				margin-bottom 1px
				position relative

		span
			position relative
			font-size 0.75em
			float right
